<div class="col-md-12 mt-3">
  <div class="card mb-3 mx-auto" style="max-width: 800px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src= {{event.path}} class="img-fluid rounded-start" alt="post-image">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{event.name}}{{event.id}}</h5>
          <p class="card-text"><strong>description:</strong>:{{event.description}}</p>
          <p class="card-text"><strong>location:</strong>:{{event.location}}</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          <!-- Ajoutez le bouton ci-dessous -->
        
        </div>
        
      </div>
      <button class="btn btn-primary" (click)="detail()">More details</button>
    </div>
    
  </div>
</div>
