<div class="card mb-5 mt-5 pb-5 shadow-effect">
  <div class="car-body">
    <h4 class="comment mt-3 mb-3"> Comment (15)</h4>
    <div class="comment-box mt-3 shadow p-3 mb-5 rounded">
      <h6 class="mb-0">Oussama Ziada</h6>
      <small class="text-danger">Last Updated - JAN 13, 2024</small>
      <div class="mt-3 mb-3">
        Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.
      </div>
      <hr>
    </div>
    <div class="comment-box mt-3 shadow p-3 mb-5 rounded">
      <h6 class="mb-0">Oussama Ziada</h6>
      <small class="text-danger">Last Updated - JAN 13, 2024</small>
      <div class="mt-3 mb-3">
        Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.
      </div>
      <hr>
    </div>
    <div class="comment-box mt-3 shadow p-3 mb-5 rounded">
      <h6 class="mb-0">Oussama Ziada</h6>
      <small class="text-danger">Last Updated - JAN 13, 2024</small>
      <div class="mt-3 mb-3">
        Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.
      </div>
      <hr>
    </div>
  </div>
</div>