<section class="latest-section">
 <div class="container-fluid">
 <div class="row">
  <div class="col-md-12 text-center mt-5">
    <h2 class="text-white">Latest Posts</h2>
    <p class="text-white">Don't miss any opportunity to treat yourself </p>
  </div>
 </div>
 <div class="row"> 
  <div class="col-lg-3">
    <app-post-card></app-post-card>
  </div>
  <div class="col-lg-3">
    <app-post-card></app-post-card>
  </div>
  <div class="col-lg-3">
    <app-post-card></app-post-card>
  </div>
  <div class="col-lg-3">
    <app-post-card></app-post-card>
  </div>
  
 </div>
 </div>
</section>
<section class="container mt-5">
<div class="col-md-12 text-center">
  <h2> Latest events</h2>
  <p class="text-black">Don't miss any opportunity to treat yourself </p>
</div>
  
<div class="row"> 
  <div class="col-md mt-3">
    <app-post-card></app-post-card>
  </div>
  <div class="col-md mt-3">
    <app-post-card></app-post-card>
  </div>
  <div class="col-md mt-3">
    <app-post-card></app-post-card>
  </div>
  <div class="col-md mt-3">
    <app-post-card></app-post-card>
  </div>
</div>


</section>